@use "../global" as g;

.p-iz-obi-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    position: absolute;
    width: 100%;
    height: 100%;
}
