
// 変数定義
$col1: #4D455D;
$col2: #F0EEED;
$col3: #86C8BC;
$col4: #fbf8f3;
$col5: white;
$col6: rgba(0, 0, 0, 0.22);
$col7: #FFD4B2;
$s-rank1: #7DB9B6;
$s-rank2: #95BDFF;
$s-rank3: #E96479;
$a-rank: #C0C0C0;
$b-rank: #CD7F32;

body {
    user-select: none;
    background-color: $col4;
    font-family: 'Kaisei Opti', serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container {
    margin: 0 auto;
    /* 横並びセット */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    flex-wrap: wrap;
    width: 50vw;
    height: 100vh;
}

// 各デバイスの画面表示
// 縦画面
@media screen and (min-width:320px) { 
    .container {
        width: 100vw;
    }
}

@media screen and (min-width:520px) and (max-width:959px) {
    .container {
        width: 55vw;
    }
}
@media screen and (min-width:960px) {
    .container {
        width: 50vw;
    }
}

.numbers{
    /*全て丸の幅*/
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

// クラス「.number」「.touched」の共通スタイルを定義
%maru-style {
    margin: 1px auto;
    width: 70px;
    height: 70px;
    border: solid 1px $col1;
    border-radius: 70px;

    // ゆるく色が変わるアニメーション
    transition: background-color 0.5s;
}

// 数字
.number{
    @extend %maru-style;
    color: $col1;
    background-color: $col2;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

// 丸にタッチしたときの処理
.touched{
    // margin: 8px auto;
    // margin: 上下左右
    // margin: 上下 左右
    // margin: 上 左右 下
    // margin: 上 右 下 左
    @extend %maru-style;
    color: transparent;
    text-align: center;
    line-height: 60px;
}

// 点滅アニメーションの処理
@mixin fls-Animation($fls,$flsCol1,$flsCol2,$flsCol3){
    animation: $fls 1s linear infinite;
    width: 7rem;
    height: 1rem;
    // margin: 0 0 25px 2rem;
    margin: 0 0 25px 0;
    // padding: 0 20px 0 0;
    // padding-left: 1rem;
    // padding: 1rem;
    text-align: center;
    @keyframes #{$fls} {
        0%, 35%, 60%, 100% {
            opacity: 0;
        }
        25% {
            opacity: 1;
            color: $flsCol1;
        }
        50% {
            opacity: 1;
            color: $flsCol2;
        }
        75% {
            opacity: 1;
            color: $flsCol3;
        }
    }
}

/* mainの点滅アニメーション 配色 */
.comment {
    @include fls-Animation(main-flsAni,$col1,$col1,$col1)
};

/* Sランクの点滅アニメーション 配色 */
.s-rank {
    @include fls-Animation(s-rank-flsAni, $s-rank1,$s-rank2,$s-rank3)
};

/* Aランクの点滅アニメーション 配色 */
.a-rank {
    @include fls-Animation(a-rank-flsAni,$a-rank,$a-rank,$a-rank)
};

/* Bランクの点滅アニメーション 配色 */
.b-rank {
    @include fls-Animation(b-rank-flsAni,$b-rank,$b-rank,$b-rank)
};

.display1{
vertical-align: middle;

/* 横並びセット */
display: flex;
justify-content: space-around; /* 横位置 */
align-items: center; /* 縦位置 */

width: 100%;
height: 100px;
margin: 30px 0 30px 0;
font-size: 24px;
font-weight: bold;
}

.time{
    font-size: 23px; // 文字の大きさ 
    letter-spacing: 3px; // 文字の幅
    color: $col5; // 文字色
    background: $col3; // 外側の色
    border-radius: 50px; // 外側の角を丸める
}

.display2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
}
.time, .startBtn, .next{ 
    width: 155px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.startBtn{
    font-size: 20px;
    color: $col5;
    background: $col3;
    border-radius: 100px;
    cursor: pointer;
}

.message{
    font-size: 45px;
    color: $col3;
}

.popbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 1em auto;
    background: $col4;
    box-shadow: 0 2px 4px $col6; // 影の色
    width: 50%;
    font-family: 'Kaisei Opti', serif;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    opacity: 1;
    transition: all 0.2s ease-in-out; // ふわっと閉じるアニメーション
}


@media screen and (min-width:320px) { 
    .popbox{
        width: 80vw;
        height: 50vh;
    }
}
@media screen and (min-width:520px) and ( max-width:959px) {
    .popbox{
        width: 70vw;
        height: 30vh;
        // min-height: 350px;
    }
}
@media screen and (min-width:960px) {
    .popbox{
        width: 50vw;
        height: 50vh;
    }
}

.popbox li {
    margin: 0;
    padding: 0.5ex;
}
.popbox-title {
    font-size: 20px;
    background: $col7;
    padding: 2px;
    text-align: center;
    color: $col5;
    font-weight: bold;
    letter-spacing: 0.05em;
    box-shadow: 0 0 4px $col6; // タイトル影の色
}

/* popbox用リスト表示 */
.list5 {
    counter-reset:list;
    list-style-type:none;
    padding: 5px 15px 2px 15px;
}
