
// -------------------------
// palette
// -------------------------
$_palette-FFF: #FFF;
$_palette-000: #000;
$_palette-F9F9F9: #F9F9F9;
$_palette-989898: #989898;
$_palette-474747: #474747;
$_palette-F4F3F3: #F4F3F3;

$_palette-FF4081: #FF4081;
$_palette-536DFE: #536DFE;
$_palette-C0CA33: #C0CA33;
$_palette-FFC107: #FFC107;
$_palette-40C4FF: #40C4FF;
$_palette-69F0AE: #69F0AE;
$_palette-66E9A9: #66E9A9;

$_palette-F44336: #F44336;
$_palette-FF8F00: #FF8F00;
$_palette-1E88E5: #1E88E5;
$_palette-388E3C: #388E3C;

$_palette-795548: #795548;
$_palette-EFEBE9: #EFEBE9;

$_palette-9C27B0: #9C27B0;

$_palette-AB47BC: #AB47BC;

$_palette-FBC02D: #FBC02D;

$_palette-E91E63: #E91E63;
$_palette-EF5350: #EF5350;
$_palette-EC407A: #EC407A;
$_palette-2979FF: #2979FF;



// -------------------------
// 実際の色指定
// -------------------------

// global
$color-body-bg: $_palette-40C4FF;
$color-wrapper-bg: $_palette-40C4FF;

// top
$color-top-menu-border: $_palette-FFF;
$color-top-menu-icon-fill: $_palette-FFF;
$color-top-menu-text: $_palette-FFF;
$color-top-menu-bg01: $_palette-FF4081;
$color-top-menu-bg02: $_palette-536DFE;
$color-top-menu-bg03: $_palette-C0CA33;
$color-top-menu-bg04: $_palette-FFC107;

// footer
$color-footer-copyright: $_palette-FFF;
$color-hills-left: $_palette-69F0AE;
$color-hills-right: $_palette-66E9A9;
$color-building-left: $_palette-FFF;
$color-building-center: $_palette-FFF;
$color-building-right: $_palette-FFF;

// setup board
$color-setup-board-menu-text: $_palette-FFF;
$color-setup-board-menu-bg: $_palette-989898;
$color-setup-board-menu-select-bg: $_palette-E91E63;
$color-setup-board-menu-select-text-nohas: $_palette-EF5350;
$color-setup-board-menu-border: $_palette-FFF;

// setup progress-tracker
$color-setup-progress-tracker-inner: $_palette-EF5350;
$color-setup-progress-tracker-outer: $_palette-EF5350;
$color-setup-progress-tracker-border: $_palette-FFF;

// setup player
$color-setup-player-input-text: $_palette-474747;
$color-setup-player-input-bg: $_palette-F4F3F3;
$color-setup-player-icon-border: $_palette-F9F9F9;
$color-setup-player-icon-bg: $_palette-FFF;
$color-setup-player-panel-border: $_palette-F9F9F9;
$color-setup-player-panel-bg: $_palette-F9F9F9;

// setup playericon
$color-setup-playericon-panel-border: $_palette-F9F9F9;
$color-setup-playericon-panel-bg: $_palette-FFF;
$color-setup-playericon-panel-border-checked: $_palette-EC407A;
$color-setup-playericon-panel-bg-checked: $_palette-FFF;

// svg icon base
$color-svg-button-next-base: $_palette-F44336;
$color-svg-button-prev-base: $_palette-2979FF;
$color-svg-button-back-base: $_palette-388E3C;
$color-svg-button-exit-base: $_palette-1E88E5;
$color-svg-button-dice-base: $_palette-E91E63;
$color-svg-button-map-base: $_palette-FF4081;
$color-svg-button-player-base: $_palette-FF8F00;

// svg icon accent
$color-svg-button-next-accent: $_palette-FFF;
$color-svg-button-prev-accent: $_palette-FFF;
$color-svg-button-back-accent: $_palette-FFF;
$color-svg-button-exit-accent: $_palette-FFF;
$color-svg-button-dice-accent: $_palette-FFF;
$color-svg-button-map-accent: $_palette-FFF;
$color-svg-button-player-accent: $_palette-FFF;

// control next panel
$color-control-next-panel-bg: $_palette-F44336;

// playing decideorder
$color-playing-decideorder-dices-text: $_palette-FFF;
$color-playing-decideorder-player-panel-ordernumber: $_palette-474747;
