@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



// フォントファミリーの指定
// 実際に使用するフォントは mixin の _font.scss で指定する


// デフォルトフォント適用用
$font-family: (
    "Kosugi Maru",
    "Zen Maru Gothic",
    "Noto Sans JP",
    "M PLUS Rounded 1c",
    
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif
);

// 個別フォント適用用
$font-family-KosugiMaru: "Kosugi Maru", sans-serif;
$font-family-ZenMaruGothic: "Zen Maru Gothic", sans-serif;
$font-family-NotoSansJP: "Noto Sans JP", sans-serif;
$font-family-MPLUSRounded1c: "M PLUS Rounded 1c", sans-serif;
$font-family-Roboto: "Roboto", sans-serif;

