
// ----------------
// z-index 指定
//  z-index が反映される position の値の一覧表
//      position
//          未指定    … 効かない
//          static    … 効かない
//          relative  … 効く
//          absolute  … 効く
//          fixed     … 効く
//          sticky    … 効く
// ----------------

$zindex-buildings: 300;
$zindex-hills: 400;
$zindex-copyright: 500;
$zindex-menu: 600;
$zindex-setup: 600;

$zindex-setup-progress-tracker__bar: 700;
$zindex-setup-progress-tracker__circle: 800;
$zindex-setup-confirmation-container: 800;

$zindex-setup-playericon-container: 800;

$zindex-setup-player-container: auto;
$zindex-setup-player-panel: 100;

$zindex-setup-board-menu: auto;
$zindex-setup-board-menu-item: 200;

$zindex-control-buttons-container: 300;
$zindex-control-button: auto;

