
// ----------------
// z-index 指定
//  z-index が反映される position の値の一覧表
//      position
//          未指定    … 効かない
//          static    … 効かない
//          relative  … 効く
//          absolute  … 効く
//          fixed     … 効く
//          sticky    … 効く
// ----------------

$zindex-buildings: 100;
$zindex-hills: 200;
$zindex-copyright: 500;
$zindex-menu: 600;
$zindex-setup: 600;

$zindex-setup-progress-tracker__bar: 700;
$zindex-setup-progress-tracker__circle: 800;


// $zindex-setup-board-menu: auto;
$zindex-setup-board-menu: 600;
$zindex-setup-board-menu-item: auto;

$zindex-setup-player-container: auto;
$zindex-setup-player-panel: auto;

$zindex-setup-playericon-container: auto;
$zindex-setup-playericon-panel: auto;

$zindex-setup-confirmation-container: auto;

$zindex-control-buttons-container: 600;
$zindex-control-button: auto;

$zindex-control-next-icon: 100;
$zindex-control-next-panel: 0;

$zindex-playing-stanby-playercard-storeimage: 300;
$zindex-playing-stanby-playercard-info-containeres: 400;
$zindex-playing-stanby-playercard-mask: 500;
