@use "../setting" as s;

// ----------------------
// 使用時
//   @include 名前
// ----------------------


@mixin font-top-menu {
  font-family: s.$font-family-KosugiMaru;
  font-weight: 400;
}

@mixin font-copyright {
  font-family: s.$font-family-Roboto;
  font-weight: 700;
}

@mixin font-setup-board {
  font-family: s.$font-family-KosugiMaru;
  font-weight: 400;
}

@mixin font-control-next-panel-text {
  font-family: s.$font-family-KosugiMaru;
  font-weight: 400;
}
