@use "../global" as g;

$_buildings-width: 150px;

.p-buildings {
    width: $_buildings-width;
    height: auto;
    position: fixed;
    left: 10vw;
    top: 75vh;
    top: 75svh;
    z-index: g.$zindex-buildings;
    svg {
        width: $_buildings-width;
        height: auto;
    }
}

@include g.mq(pc) {
    .p-buildings {
        top: 65vh;
    }
}


.p-buildings__building {
    &--left {
        fill: g.$color-building-left;
        animation: building-scale-01 20s ease-in-out infinite;
    }
    &--center {
        fill: g.$color-building-center;
        animation: building-scale-01 14s ease-in-out infinite;
    }
    &--right {
        fill: g.$color-building-right;
        animation: building-scale-01 18s ease-in-out infinite;
    }
}

@keyframes building-scale-01 {
    0% {translate: 0 0;}
   50% {translate: 0 -30px;}
  100% {translate: 0 0;}
}

