@use "../global" as g;

.p-control-next-guide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale .3s;
    &:hover {
        scale: 1.06;
    }
    animation: next-guide-scale 4s ease-in-out infinite;
}

@keyframes next-guide-scale {
  90% {transform: scale(1.0);}
  95% {transform: scale(1.05);}
 100% {transform: scale(1.0);}
}

.p-control-next-guide--dice-screen {
    opacity: 0;
    animation:
        fade-in .5s ease-in-out .5s forwards,
        next-guide-scale 4s ease-in-out infinite;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(30vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
