@use "../global" as g;

$_hills-width: 150vw;
$_hills-left: -25vw;

.p-hills {
    width: $_hills-width;
    height: auto;
    position: fixed;
    left: $_hills-left;
    z-index: g.$zindex-hills;
    top: 91vh;
    top: 91svh;
    svg {
        width: $_hills-width;
        height: auto;
    }
}

@include g.mq(pc) {
    .p-hills {
        top: 82vh;
    }
}

.p-hills__hill {
    &--left {
        fill: g.$color-hills-left;
        animation: hill-scale-01 20s ease-in-out infinite;
    }
    &--right {
        fill: g.$color-hills-right;
        animation: hill-scale-02 16s ease-in-out infinite;
    }
}

@keyframes hill-scale-01 {
// Safari 対応のため、個々のプロパティではなく transform で指定する (SVGのみ)
      0% {transform: scale(0.85);}
     50% {transform: scale(1.0);}
    100% {transform: scale(0.85);}
}

@keyframes hill-scale-02 {
// Safari 対応のため、個々のプロパティではなく transform で指定する (SVGのみ)
      0% {transform: scale(0.93);}
     50% {transform: scale(1.0);}
    100% {transform: scale(0.93);}
}
