@use "../global" as g;

.p-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 90vh;
    top: 50px;
    position: relative;
    z-index: g.$zindex-menu;
}
