@use "../global" as g;

$_menu_item_height: unquote('min(90px, 20vw)');
$_menu_item_width: calc($_menu_item_height * 4.2);
$_menu_item_margin: calc($_menu_item_height * 0.35);
$_boader-size: calc($_menu_item_height * 0.1);
$_icon-size: $_menu_item_height;
$_icon-svg-size: calc($_menu_item_height * 0.5);
$_item-text-size: calc($_menu_item_height * 0.3);

.p-menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: $_menu_item_width;
    height: $_menu_item_height;
    border: $_boader-size solid g.$color-menu-border;
    border-radius: calc($_menu_item_height * 0.5);
    box-sizing: border-box;
    margin: $_menu_item_margin;
    box-shadow: 10px 20px 50px rgba($color: #000, $alpha: 0.3);
    &--bg01 {
        background-color: g.$color-menu-bg01;
    }
    &--bg02 {
        background-color: g.$color-menu-bg02;
    }
    &--bg03 {
        background-color: g.$color-menu-bg03;
    }
    &--bg04 {
        background-color: g.$color-menu-bg04;
    }
    transition: scale .3s, box-shadow .3s;
    &:hover {
        scale: 1.06;
        box-shadow: 15px 25px 25px rgba($color: #000, $alpha: 0.3);
    }
}

.p-menu-item__icon {
    width: $_icon-size;
    height: $_icon-size;
    border-radius: 50%;
    border: $_boader-size solid g.$color-menu-border;
    display: flex;
    justify-content: center;
    align-items: center;
    translate: calc($_boader-size * -1) 0;
}

.p-menu-item__icon svg {
    width: $_icon-svg-size;
    height: $_icon-svg-size;
    fill: g.$color-menu-icon-fill;
}

.p-menu-item__text {
    color: g.$color-menu-text;
    height: 100%;
    width: calc(100% - ($_icon-size + $_boader-size * 2) * 1.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $_item-text-size;
    @include g.font-menu;
}
