@use "../global" as g;

$_menu-logo-height: unquote('min(80px, 15vw)');
$_menu-logo-margin: calc($_menu-logo-height * 0.15);

.p-menu-logo svg {
    height: $_menu-logo-height;
    width: auto;
    margin: $_menu-logo-margin 0;
}
