@use "../global" as g;

.p-minigames-container {
    display: flex;
    justify-content: center;
    // justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    // height: 95vh;
    // height: 95svh;
    // height: auto;
    width: 100vw;
    // width: 50vw;
    // padding-bottom: 30vh;
    // padding: 40px 0 30vh 0;
    padding: 40px 0 30vh 0;
}
