@use "../global" as g;

$_height: 50vh;
$_shadow-offset-x: calc($_height * 0.16);
$_shadow-offset-y: calc($_height * 0.33);
$_shadow-blur-radius: calc($_height * 0.83);
$_text-size: unquote('min(42px, 30vw)');
$_radius: 30px;

.p-playing-stanby-playercard-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    width: 93vw;
    height: $_height;
    background-color: g.$color-playing-stanby-playercard-mask-bg;
    opacity: 0.75;
    border-radius: $_radius;
    @include g.font-playing-stanby-playercard;
    color: #F4F3F3;
    font-size: $_text-size;
    position: absolute;
    z-index: 1000;
}

.p-playing-stanby-playercard-mask__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.p-playing-stanby-playercard-mask__icon {
    margin: 0 20px;
    svg {
        width: 70px;
        height: 70px;
    }
}
