@use "../global" as g;
@use "sass:map";

@function getvar($prop, $sp_tab_pc: sp) {
    $media-query-vars: (
        height: (
            sp:  60vh,
            tab: 50vh,
            pc:  50vh,
        ),
    );
    $height: map.get($media-query-vars, height, #{$sp_tab_pc});
    $local-var-list: (
        height: $height,
        shadow-offset-x: calc($height * 0.16),
        shadow-offset-y: calc($height * 0.33),
        shadow-blur-radius: calc($height * 0.83),
        radius: 30px,
    );
    @return map.get($local-var-list, $prop);
}

.p-playing-stanby-playercard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    width: 93vw;
    height: getvar(height, sp);
    background-color: g.$color-playing-stanby-playercard-bg;
    border-radius: getvar(radius);
    @include g.font-playing-stanby-playercard;
    color: g.$color-playing-stanby-playercard-text;
    box-shadow: 10px 20px 50px rgba($color: #000, $alpha: 0.3);
    @include g.mq(tab) {
        height: getvar(height, tab);
    }
    @include g.mq(pc) {
        height: getvar(height, pc);
    }
}

.p-playing-stanby-playercard__storeimage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 20vh;
    position: relative;
    z-index: g.$zindex-playing-stanby-playercard-storeimage;
}

.p-playing-stanby-playercard__storeimage img {
    width: 99.9%;
    height: 22vh;
    object-fit: cover;
    border-radius: getvar(radius) getvar(radius) 0 0;
    filter: blur(1.5px);
}

.p-playing-stanby-playercard__info-containeres {
    width: 100%;
    height: 100%;
    background-color: g.$color-playing-stanby-playercard-info-containeres-bg;
    border-radius: 0 0 getvar(radius) getvar(radius);
    position: relative;
    z-index: g.$zindex-playing-stanby-playercard-info-containeres;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    @include g.mq(tab) {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    @include g.mq(pc) {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

.p-playing-stanby-playercard__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    @include g.mq(tab) {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    @include g.mq(pc) {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
}

.p-playing-stanby-playercard__name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    @include g.mq(tab) {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    @include g.mq(pc) {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
}

.p-playing-stanby-playercard__point {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    @include g.mq(tab) {
        justify-content: flex-start;
        align-items: flex-end;
        grid-column: 4 / 7;
        grid-row: 1 / 2;
    }
    @include g.mq(pc) {
        justify-content: flex-start;
        align-items: flex-end;
        grid-column: 4 / 7;
        grid-row: 1 / 2;
    }
}

.p-playing-stanby-playercard__skip {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    @include g.mq(tab) {
        justify-content: flex-start;
        align-items: flex-end;
        grid-column: 7 / 11;
        grid-row: 1 / 2;
    }
    @include g.mq(pc) {
        justify-content: flex-start;
        align-items: flex-end;
        grid-column: 7 / 11;
        grid-row: 1 / 2;
    }
}

.p-playing-stanby-playercard__location {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: unquote('min(16px, 3.8vw)');
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 1em;
    padding: 0;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    @include g.mq(tab) {
        justify-content: flex-start;
        font-size: 26px;
        padding: 0 2em 0 0;
        grid-column: 4 / 11;
        grid-row: 2 / 3;
    }
    @include g.mq(pc) {
        justify-content: flex-start;
        font-size: 26px;
        padding: 0 2em 0 0;
        grid-column: 4 / 11;
        grid-row: 2 / 3;
    }
}

.p-playing-stanby-playercard__locationbar {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 6 / 8;
    @include g.mq(tab) {
        grid-column: 1 / 11;
        grid-row: 3 / 4;
    }
    @include g.mq(pc) {
        grid-column: 1 / 11;
        grid-row: 3 / 4;
    }
}


.p-playing-stanby-playercard__point-icon {
    margin: 0 5px;
}

// .p-playing-stanby-playercard__point-text {
// }

.p-playing-stanby-playercard__skip-icon {
    margin: 0 5px;
}

// .p-playing-stanby-playercard__skip-text {
// }

.p-playing-stanby-playercard__location-icon {
    margin: 0 5px;
}

// .p-playing-stanby-playercard__location-text {
// }

.p-playing-stanby-playercard__point-icon,
.p-playing-stanby-playercard__skip-icon,
.p-playing-stanby-playercard__location-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 4vmax;
        height: 4vmax;
        @include g.mq(tab) {
            width: 40px;
            height: 40px;
        }
        @include g.mq(pc) {
            width: 40px;
            height: 40px;
        }
    }
}

.p-playing-stanby-playercard__locationbar svg {
    width: 70vw;
    height: 35px;
    @include g.mq(tab) {
        height: 35px;
        scale: 1.0;
    }
    @include g.mq(pc) {
        height: 35px;
        scale: 1.0;
    }
}
