@use "../global" as g;

$_svg-size: unquote('min(200px, 30vw)');
$_text-margin-t: calc($_svg-size * 0.15);
$_text-size: calc($_svg-size * 0.15);

.p-playing-decideorder-dices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p-playing-decideorder-dices__image svg {
    height: $_svg-size;
    width: $_svg-size;
    filter: drop-shadow(10px 20px 50px rgba($color: #000, $alpha: 0.3));
    cursor: pointer;
    transition: scale .3s;
    &:hover {
        scale: 1.06;
    }
}

.p-playing-decideorder-dices__text {
    margin-top: $_text-margin-t;
    color: g.$color-playing-decideorder-dices-text;
    @include g.font-playing-decideorder-dices-text;
    font-size: $_text-size;
}
