@use "../global" as g;

.p-playing-minigame-ready-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 0 0 30vh 0;
}
