@use "../global" as g;

$_height: unquote('min(50px, 20vw)');
$_width: calc($_height * 5);
$_margin: calc($_height * 0.2);
$_boader-size: calc($_height * 0.1);
$_icon-size: $_height;
$_icon-svg-size: calc($_height * 0.5);
$_item-text-size: calc($_height * 0.3);
$_shadow-offset-x: calc($_height * 0.16);
$_shadow-offset-y: calc($_height * 0.33);
$_shadow-blur-radius: calc($_height * 0.83);

.p-setup-board-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $_width;
    height: $_height;
    border: $_boader-size solid g.$color-setup-board-menu-border;
    // border-radius: calc($_height * 0.5);
    border-radius: 99999px;
    box-sizing: border-box;
    margin: $_margin;
    color: g.$color-setup-board-menu-text;
    font-size: $_item-text-size;
    @include g.font-setup-board;
    box-shadow: $_shadow-offset-x $_shadow-offset-y $_shadow-blur-radius rgba($color: #000, $alpha: 0.3);
    background-color: g.$color-setup-board-menu-bg;
    cursor: pointer;
    transition: scale .3s, box-shadow .3s, background-color .3s;
    &:hover {
        scale: 1.06;
        box-shadow: 15px 25px 25px rgba($color: #000, $alpha: 0.3);
    }
    z-index: g.$zindex-setup-board-menu-item;
}

.p-setup-board-menu-item__radio {
    display: none; // iPhoneでは内部の input が消えないので親要素で消す
}

// @remind has 未対応ブラウザ 対応を行う
// // 選択時（:has 未対応ブラウザ用 … 文字色を変える）
// .p-setup-board-menu-radio:checked + .p-setup-board-menu-item__text {
//     color: g.$color-setup-board-menu-select-text-nohas;
// }

// 選択時（:has 対応用 … 親要素のスタイルを変える）
.p-setup-board-menu-item:has(.p-setup-board-menu-radio:checked) {
    background-color: g.$color-setup-board-menu-select-bg;
    box-shadow: 10px 20px 50px rgba($color: #000, $alpha: 0.3);
    scale: 0.98;
    // // :has 未対応ブラウザ用スタイル戻し
    // .p-setup-board-menu-item__text {
    //     color: g.$color-setup-board-menu-text;
    // }
}

// 確認画面
.p-setup-board-menu-item--confirmation {
    background-color: g.$color-setup-board-menu-select-bg;
    box-shadow: none;
    cursor: initial;
    &:hover {
        scale: 1;
        box-shadow: none;
    }
}

.p-setup-board-menu-item--large {
    $_height: unquote('min(80px, 18vw)');
    $_width: calc($_height * 5);
    $_item-text-size: calc($_height * 0.3);
    $_margin: calc($_height * 0.2);
    height: $_height;
    width: $_width;
    font-size: $_item-text-size;
    margin: $_margin;
}

.p-setup-board-menu-item--red {
    background-color: g.$color-setup-board-menu-bg-red;
}

.p-setup-board-menu-item--purple {
    background-color: g.$color-setup-board-menu-bg-purple;
}
