@use "../global" as g;

$_menu_item_height: unquote('min(60px, 20vw)');
$_menu_item_width: calc($_menu_item_height * 5);
$_menu_item_margin: calc($_menu_item_height * 0.4);
$_menu_item_padding: calc($_menu_item_height * 0.3);
$_boader-size: calc($_menu_item_height * 0.1);
$_icon-size: $_menu_item_height;
$_icon-svg-size: calc($_menu_item_height * 0.5);
$_item-text-size: calc($_menu_item_height * 0.3);

.p-setup-player-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: $_menu_item_width;
    height: $_menu_item_height;
    border: $_boader-size solid g.$color-setup-player-panel-border;
    border-radius: calc($_menu_item_height * 0.4);
    box-sizing: border-box;
    margin: $_menu_item_margin 0;
    padding: 0 $_menu_item_padding;
    color: g.$color-setup-board-menu-text;
    font-size: $_item-text-size;
    @include g.font-setup-board;
    box-shadow: 10px 20px 50px rgba($color: #000, $alpha: 0.3);
    background-color: g.$color-setup-player-panel-bg;
    z-index: g.$zindex-setup-player-panel;
}

.p-setup-player-panel--confirmation {
    box-shadow: none;
}
