@use "../global" as g;

.p-setup-playericon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 20px;
    z-index: g.$zindex-setup-playericon-container;
    width: 85vw;
    @include g.mq(tab) {
        width: 70vw;
    }
    @include g.mq(pc) {
        width: 50vw;
    }
}
