@use "../global" as g;

// $_height: unquote('min(80px, 20vw)');
$_width: 40vw;

.p-setup-confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: $_width;
    height: auto;
    margin: 50px 0 0;
    position: relative;
    z-index: g.$zindex-setup-confirmation-container;
}
