@use "../global" as g;

// $_height: unquote('min(80px, 20vw)');
$_width: 70vw;

.p-setup-player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: $_width;
    height: auto;
    position: relative;
    z-index: g.$zindex-setup-player-container;
}
