@use "../global" as g;

.p-setup-board-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // width: auto;
    // height: 90vh;
    
    // z-index 設定のために付与
    position: relative;
    z-index: g.$zindex-menu;
}
