@use "../global" as g;

$_size: unquote('min(150px, 25vw)');

.p-svg-button-map {
    width: $_size;
    height: $_size;
    &__color-group-base {
        fill: g.$color-svg-button-map-base;
    }
    &__color-group-accent {
        fill: g.$color-svg-button-map-accent;
    }
}
