@use "../global" as g;

.p-top-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 70vh;
    height: 70svh;
    top: 60px;
    position: relative;
    z-index: g.$zindex-menu;
}
